body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background-color:#FAFAEF;
}
:root {
	--web-view-ids: Detail_Page;
}
#Detail_Page * {
	margin: 0;
	padding: 0;
}
#Detail_Page {
	position: absolute;
	box-sizing: border-box;
	background: #FAFAEF;
	width: 100%;
	height: 100%;
	background-color: #FAFAEF;
	overflow: scroll;
	margin: 0;
	padding: 0;
	opacity: 1;
	--web-view-name: New Event Page;
	--web-view-id: New_Event_Page;
	--web-scale-to-fit: true;
	--web-enable-deep-linking: true;
}
#Group_18 {
	opacity: 1;
	position: absolute;
	width: 100%;
	height: 88%;
	left: 0px;
	top: 125px;
	overflow: visible;
}

.Rectangle_4 {
	position: absolute;
	overflow: visible;
	width: 100%;
	height: 88%;
	left: 0px;
	top: 0px;
}
#Group_28 {
	opacity: 1;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 43px;
	overflow: visible;
}
#Rectangle_1 {
	opacity: 1;
	fill: rgba(157,21,54,1);
	stroke: rgb(112, 112, 112);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_1 {
	position: absolute;
	overflow: visible;
	width: 100%;
	height: 34%;
	left: 0px;
	top: 0px;
	background-color:rgba(157,21,54,1);
}
#USCCardinal {
	opacity: 1;
	position: absolute;
	width:25%;
	left: 13%;
	top: 3%;
	overflow: visible;
}

#UscLogo{
	width: 100%;
	height: 100%;
}

#EventSc {
	opacity: 1;
	position: absolute;
	left: 70%;
	top: 8%;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 25%;
	white-space: nowrap;
	text-align: left;
	font-family: Sukhumvit Set;
	font-style: normal;
	font-weight: bold;
	font-size: 64px;
	color: rgba(255,255,255,1);
}

.Rectangle_2 {
	position: absolute;
	overflow: visible;
	width: 100%;
	height: 7%;
	left: 0px;
	top: 0px;
	background-color: #000000;
}
#Login {
	opacity: 1;
	position: absolute;
	left: 78%;
	top: 8px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 88px;
	white-space: nowrap;
	text-align: left;
	font-family: AppleGothic;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	color: rgba(248,240,240,1);
	z-index: 2;
}
#Register {
	opacity: 1;
	position: absolute;
	left: 87%;
	top: 8px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 132px;
	white-space: nowrap;
	text-align: left;
	font-family: AppleGothic;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	color: rgba(248,240,240,1);
}

.Rectangle_7 {
	position: absolute;
	overflow: visible;
	width: 65%;
	height: 125%;
	left: 17%;
	top: 30%;
	background-color: rgba(244,244,244,1);
	border-radius: 20px;
}
#Group_13 {
	opacity: 1;
	position: absolute;
	width: 13%;
	height: 6%;
	left: 66%;
	top: 25%;
	overflow: visible;
}

#Backtomap{
	width: 100%;
	z-index: 20;
	display: block;
}

#Group_16 {
	opacity: 1;
	position: absolute;
	width: 65%;
	height: 70%;
	left: 17%;
    top: 33%;
	overflow: visible;
}
#Group_14 {
	opacity: 1;
	position: absolute;
	width: 0px;
	height: 0px;
	left: -4307px;
	top: -331px;
	overflow: visible;
}
#Group_30 {
	opacity: 1;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	overflow: visible;
	background-color: rgba(244,244,244,1);
	border-radius: 20px;
}
#Rectangle_7 {
	opacity: 1;
	fill: rgba(244,244,244,1);
	stroke: rgb(188, 174, 174);
	stroke-width: 1px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_7 {
	position: absolute;
	overflow: visible;
	width: 1266px;
	height: 682px;
	left: 0px;
	top: 0px;
}
#iconfinder_calendar_1287530 {
	opacity: 1;
	fill: url(#iconfinder_calendar_1287530_A3_Rectangle_11_pattern);
}
.iconfinder_calendar_1287530 {
	position: absolute;
	overflow: visible;
	width: 221px;
	height: 221px;
	left: 62px;
	top: 35px;
}
#Event_Name {
	opacity: 1;
	position: absolute;
	left: 25%;
	top: 5%;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 322px;
	white-space: nowrap;
	text-align: left;
	font-family: Avenir;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	color: rgba(100,95,95,1);
}
#DATE__TIME__Location_ {
	opacity: 1;
	position: absolute;
	left: 25%;
	top: 18%;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 139px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	color: rgba(100,95,95,1);
}
#Lorem_ipsum_dolor_sit_amet__co {
	opacity: 1;
	position: absolute;
	left: 5%;
	top: 50%;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 90%;
	height: 50%%;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: ;
	font-size: 24px;
	color: rgba(100,95,95,1);
}
#Initiator_ {
	opacity: 1;
	position: absolute;
	left: 65%;
	top: 19%;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 196px;
	height: 35px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(100,95,95,1);
}
#Interested {
	opacity: 1;
	position: absolute;
	left: 65%;
	top: 37%;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 108px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(100,95,95,1);
}
#iconfinder_JD_04_2625523 {
	opacity: 1;
	fill: url(#iconfinder_JD_04_2625523_A3_Rectangle_13_pattern);
}
.iconfinder_JD_04_2625523 {
	position: absolute;
	overflow: visible;
	width: 91px;
	height: 91px;
	left: 885px;
	top: 95px;
}
#iconfinder_JD_06_2625478 {
	opacity: 1;
	fill: url(#iconfinder_JD_06_2625478_A3_Rectangle_15_pattern);
}
.iconfinder_JD_06_2625478 {
	position: absolute;
	overflow: visible;
	width: 94px;
	height: 94px;
	left: 871px;
	top: 196px;
}
#iconfinder_JD_08_2625520 {
	opacity: 1;
	fill: url(#iconfinder_JD_08_2625520_A3_Rectangle_17_pattern);
}
.iconfinder_JD_08_2625520 {
	position: absolute;
	overflow: visible;
	width: 95px;
	height: 95px;
	left: 959px;
	top: 195px;
}
#iconfinder_JD_09_2625479 {
	opacity: 1;
	fill: url(#iconfinder_JD_09_2625479_A3_Rectangle_19_pattern);
}
.iconfinder_JD_09_2625479 {
	position: absolute;
	overflow: visible;
	width: 100px;
	height: 100px;
	left: 1041px;
	top: 188px;
}
#EventIcon {
	position: absolute;
	overflow: visible;
	width: 100px;
	height: 100px;
	left: 5%;
	top: 10%;
}

#initiatorPic {
	position: absolute;
	overflow: visible;
	width: 8%;
	height: 15%;
	left: 64%;
	top: 5%;
}

#User1Pic {
	position: absolute;
	overflow: visible;
	width: 8%;
	height: 15%;
	left: 64%;
	top: 23%;
}

#User2Pic {
	position: absolute;
	overflow: visible;
	width: 8%;
	height: 15%;
	left: 72%;
	top: 23%;
}

#User3Pic {
	position: absolute;
	overflow: visible;
	width: 8%;
	height: 15%;
	left: 80%;
	top: 23%;
}
#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.8);
  z-index: 2;
  cursor: pointer;
}
#google{
	position: absolute;
	top:400px;
	left:630px;
	height:50px;
	width:50px;
	border-radius:8px;
}
#map {
    	postion: relative;
    	left:12.5%;
    	top:25%;
    	width: 75%;
      	height: 75%;
    }