body {
	margin: 0;
	padding: 0;
}
:root {
	--web-view-ids: Map;
}
#Map * {
	margin: 0;
	padding: 0;
}
#Map {
	position: absolute;
	box-sizing: border-box;
	background: #E5E5E5;
	width: 1920px;
	height: 1080px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	margin: 0;
	padding: 0;
	opacity: 1;
	--web-view-name: Map;
	--web-view-id: Map;
	--web-scale-to-fit: true;
	--web-enable-deep-linking: true;
}
#Rectangle_4 {
	opacity: 1;
	fill: rgba(250,250,240,1);
	stroke: rgb(112, 112, 112);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_4 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 1080px;
	left: 0px;
	top: 0px;
}
#Group_4 {
	opacity: 1;
	position: absolute;
	width: 1920px;
	height: 413px;
	left: 0px;
	top: 1px;
	overflow: visible;
}
#Group_3 {
	opacity: 1;
	position: absolute;
	width: 1920px;
	height: 413px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_1 {
	opacity: 1;
	fill: rgba(157,21,54,1);
	stroke: rgb(112, 112, 112);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_1 {
	position: absolute;
	overflow: visible;
	width: 1921px;
	height: 414px;
	left: 0px;
	top: 0px;
}
#Group_2 {
	opacity: 1;
	position: absolute;
	width: 582px;
	height: 145px;
	left: 266px;
	top: 83px;
	overflow: visible;
}
#Group_1 {
	opacity: 1;
	position: absolute;
	width: 582px;
	height: 145px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#USCCardinal {
	opacity: 1;
	position: absolute;
	width: 582px;
	height: 145px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#USCCardinal_A0_Rectangle_3 {
	opacity: 1;
	fill: url('#USCCardinal_A0_Rectangle_4_pattern');
}
.USCCardinal_A0_Rectangle_3 {
	position: absolute;
	overflow: visible;
	width: 582px;
	height: 145px;
	left: 0px;
	top: 0px;
}
#EventSc {
	opacity: 1;
	position: absolute;
	left: 1362px;
	top: 94px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 273px;
	white-space: nowrap;
	text-align: left;
	font-family: Sukhumvit Set;
	font-style: normal;
	font-weight: bold;
	font-size: 78px;
	color: rgba(255,255,255,1);
}
#Rectangle_2 {
	opacity: 1;
	fill: rgba(2,2,2,1);
	stroke: rgb(112, 112, 112);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_2 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 60px;
	left: 0px;
	top: 1px;
}
#Login {
	opacity: 1;
	position: absolute;
	left: 1511px;
	top: 9px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 88px;
	white-space: nowrap;
	text-align: left;
	font-family: AppleGothic;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
}
#Login a{
	text-decoration: none;
	color: rgba(248,240,240,1);
}

#Register {
	opacity: 1;
	position: absolute;
	left: 1681px;
	top: 9px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 132px;
	white-space: nowrap;
	text-align: left;
	font-family: AppleGothic;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
}
#Register a{
	text-decoration: none;
	color: rgba(248,240,240,1);
}

#Group_8 {
	opacity: 1;
	position: absolute;
	width: 0px;
	height: 0px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_6 {
	opacity: 1;
	position: absolute;
	width: 0px;
	height: 0px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#v {
	opacity: 1;
	position: absolute;
	left: 1501px;
	top: 558px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 21px;
	white-space: nowrap;
	text-align: left;
	font-family: AppleGothic;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(248,240,240,1);
}
#Rectangle_3 {
	opacity: 1;
	fill: url(#Rectangle_3_A0_Rectangle_7_pattern);
	stroke: rgb(255, 255, 255);
	stroke-width: 20px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_3 {
	position: absolute;
	overflow: visible;
	width: 1266px;
	height: 693px;
	left: 332px;
	top: 333px;
}
#Group_7 {
	opacity: 1;
	position: absolute;
	width: 230.005px;
	height: 57px;
	left: 1280.797px;
	top: 246.824px;
	overflow: visible;
}
#Group_7 button{
	position: absolute;
	z-index: 10;
	width: 230.005px;
	height: 57px;
	cursor: pointer;
	opacity: 0;
}

#Group_6_A0_Group_8 {
	opacity: 1;
	position: absolute;
	width: 230.005px;
	height: 57px;
	left: 0px;
	top: 0px;
	overflow: visible;
}

#Rectangle_5 {
	opacity: 1;
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.553));
	fill: rgba(250,250,240,1);
	stroke: rgb(214, 214, 172);
	stroke-width: 4px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_5 {
	position: absolute;
	overflow: visible;
	width: 256.005px;
	height: 82.191px;
	left: 0px;
	top: 0px;
}
#iconfinder_plus_circle_2561291 {
	opacity: 1;
	fill: url(#iconfinder_plus_circle_2561291_A0_Rectangle_10_pattern);
}
.iconfinder_plus_circle_2561291 {
	position: absolute;
	overflow: visible;
	width: 48px;
	height: 48px;
	left: 13px;
	top: 9px;
}
#New_Event {
	opacity: 1;
	position: absolute;
	left: 69.005px;
	top: 14.191px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 151px;
	white-space: nowrap;
	text-align: left;
	font-family: AppleGothic;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(5,5,5,1);
}

#Group_9 {
	opacity: 1;
	position: absolute;
	width: 230.005px;
	height: 56.191px;
	left: 403.797px;
	top: 246.824px;
	overflow: visible;
}
#Group_9 button{
	opacity: 0;
	position: absolute;
	z-index: 10;
	width: 230.005px;
	height: 56.191px;
	cursor: pointer;
}

#Rectangle_5_A0_Rectangle_11 {
	opacity: 1;
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.553));
	fill: rgba(250,250,240,1);
	stroke: rgb(214, 214, 172);
	stroke-width: 4px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_5_A0_Rectangle_11 {
	position: absolute;
	overflow: visible;
	width: 256.005px;
	height: 82.191px;
	left: 0px;
	top: 0px;
}
#__Filter {
	opacity: 1;
	position: absolute;
	left: 71.005px;
	top: 13.191px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 85px;
	white-space: nowrap;
	text-align: left;
	font-family: AppleGothic;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(5,5,5,1);
}
#iconfinder_filter_3325128 {
	opacity: 1;
	fill: url(#iconfinder_filter_3325128_A0_Rectangle_13_pattern);
}
.iconfinder_filter_3325128 {
	position: absolute;
	overflow: visible;
	width: 54px;
	height: 54px;
	left: 12.203px;
	top: 2.176px;
}
#Group_11 {
	opacity: 1;
	position: absolute;
	width: 230.005px;
	height: 56.191px;
	left: 678.797px;
	top: 246.824px;
	overflow: visible;
}
#Group_11 button{
	opacity: 0;
	position: absolute;
	z-index: 10;
	width: 230.005px;
	height: 56.191px;
	cursor: pointer;
}

#Rectangle_5_A0_Rectangle_14 {
	opacity: 1;
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.553));
	fill: rgba(250,250,240,1);
	stroke: rgb(214, 214, 172);
	stroke-width: 4px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_5_A0_Rectangle_14 {
	position: absolute;
	overflow: visible;
	width: 256.005px;
	height: 82.191px;
	left: 0px;
	top: 0px;
}
#List_view {
	opacity: 1;
	position: absolute;
	left: 83.005px;
	top: 12.191px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 120px;
	white-space: nowrap;
	text-align: left;
	font-family: AppleGothic;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(5,5,5,1);
}
#iconfinder_menu_24_103174 {
	opacity: 1;
	fill: url(#iconfinder_menu_24_103174_A0_Rectangle_16_pattern);
}
.iconfinder_menu_24_103174 {
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 41px;
	left: 15.203px;
	top: 8.176px;
}