body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color:#FAFAEF;
}

:root {
    --web-view-ids: New_Event_Page;
}
#New_Event_Page * {
    margin: 0;
    padding: 0;
}
#New_Event_Page {
    position: absolute;
    box-sizing: border-box;
    background: #FAFAEF;
    width: 100%;
    height: 100%;
    background-color: #FAFAEF;
    overflow: scroll;
    margin: 0;
    padding: 0;
    opacity: 1;
    --web-view-name: New Event Page;
    --web-view-id: New_Event_Page;
    --web-scale-to-fit: true;
    --web-enable-deep-linking: true;
}

#Group_18 {
    opacity: 1;
    position: absolute;
    width: 100%;
    height: 88%;
    left: 0px;
    top: 125px;
    overflow: visible;
}

.Rectangle_4 {
    position: absolute;
    overflow: visible;
    width: 100%;
    height: 88%;
    left: 0px;
    top: 0px;
}
#Group_28 {
    opacity: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 43px;
    overflow: visible;
}
#Rectangle_1 {
    opacity: 1;
    fill: rgba(157,21,54,1);
    stroke: rgb(112, 112, 112);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_1 {
    position: absolute;
    overflow: visible;
    width: 100%;
    height: 34%;
    left: 0px;
    top: 0px;
    background-color:rgba(157,21,54,1);
}
#USCCardinal {
    opacity: 1;
    position: absolute;
    width:25%;
    left: 13%;
    top: 3%;
    overflow: visible;
}

#UscLogo{
    width: 100%;
    height: 100%;
}

#EventSc {
    opacity: 1;
    position: absolute;
    left: 70%;
    top: 8%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: visible;
    width: 25%;
    white-space: nowrap;
    text-align: left;
    font-family: Sukhumvit Set;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    color: rgba(255,255,255,1);
}

.Rectangle_2 {
    position: absolute;
    overflow: visible;
    width: 100%;
    height: 7%;
    left: 0px;
    top: 0px;
    background-color: #000000;
}
#Login {
    opacity: 1;
    position: absolute;
    left: 78%;
    top: 8px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: visible;
    width: 88px;
    white-space: nowrap;
    text-align: left;
    font-family: AppleGothic;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    color: rgba(248,240,240,1);
    z-index: 4;
}
#Register {
    opacity: 1;
    position: absolute;
    left: 87%;
    top: 8px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: visible;
    width: 132px;
    white-space: nowrap;
    text-align: left;
    font-family: AppleGothic;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    color: rgba(248,240,240,1);
}

.Rectangle_7 {
    position: absolute;
    overflow: visible;
    width: 65%;
    height: 110%;
    left: 17%;
    top: 30%;
    background-color: rgba(244,244,244,1);
    border-radius: 20px;
}
#Group_13 {
    opacity: 1;
    position: absolute;
    width: 14%;
    height: 5%;
    left: 62%;
    top: 21%;
    overflow: visible;
}

#Backtomap{
    width: 100%;
    z-index: 20;
    display: block;
}


#Group_19 {
    opacity: 1;
    position: absolute;
    width: 627px;
    height: 112px;
    left: 22%;
    top: 34%;
    overflow: visible;
}
#Event_Name_A7_Text_7 {
    opacity: 1;
    position: absolute;
    left: 0px;
    top: 0px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: visible;
    width: 189px;
    white-space: nowrap;
    text-align: left;
    font-family: Sukhumvit Set;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    color: rgba(100,95,95,1);
}
#Rectangle_11 {
    opacity: 1;
    fill: rgba(255,255,255,1);
    stroke: rgb(112, 112, 112);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_11 {
    position: absolute;
    overflow: visible;
    width: 627px;
    height: 55px;
    left: 0px;
    top: 57px;
}

#Group_20 {
    opacity: 1;
    position: absolute;
    width: 313.5px;
    height: 112px;
    left: 22%;
    top: 48%;
    overflow: visible;
}

#Group_20_2 {
    opacity: 1;
    position: absolute;
    width: 313.5px;
    height: 112px;
    left: 22%;
    top: 61%;
    overflow: visible;
}

#Date, #Date_2 {
    opacity: 1;
    position: absolute;
    left: 0px;
    top: 0px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: visible;
    width: 75px;
    white-space: nowrap;
    text-align: left;
    font-family: Sukhumvit Set;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    color: rgba(100,95,95,1);
}
#Rectangle_11_A7_Rectangle_10 {
    opacity: 1;
    fill: rgba(255,255,255,1);
    stroke: rgb(112, 112, 112);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_11_A7_Rectangle_10 {
    position: absolute;
    overflow: visible;
    width: 313.5px;
    height: 55px;
    left: 0px;
    top: 57px;
}
#Group_21 {
    opacity: 1;
    position: absolute;
    width: 313.5px;
    height: 112px;
    left: 40%;
    top: 48%;
    overflow: visible;
}

#Group_21_2 {
	opacity: 1;
    position: absolute;
    width: 313.5px;
    height: 112px;
    left: 40%;
    top: 61%;
    overflow: visible;
}

#Time, #Time_2 {
    opacity: 1;
    position: absolute;
    left: 0px;
    top: 0px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: visible;
    width: 77px;
    white-space: nowrap;
    text-align: left;
    font-family: Sukhumvit Set;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    color: rgba(100,95,95,1);
}
#Rectangle_11_A7_Rectangle_11 {
    opacity: 1;
    fill: rgba(255,255,255,1);
    stroke: rgb(112, 112, 112);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_11_A7_Rectangle_11 {
    position: absolute;
    overflow: visible;
    width: 313.5px;
    height: 55px;
    left: 0px;
    top: 57px;
}
#Group_22 {
    opacity: 1;
    position: absolute;
    width: 50%;
    height: 112px;
    left: 22%;
    top: 75%;
    overflow: visible;
}
#Location {
    opacity: 1;
    position: absolute;
    left: 0px;
    top: 0px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: visible;
    width: 138px;
    white-space: nowrap;
    text-align: left;
    font-family: Sukhumvit Set;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    color: rgba(100,95,95,1);
}
#Location_2 {
    opacity: 1;
    position: absolute;
    left: 36.5%;
    top: 0px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: visible;
    width: 138px;
    white-space: nowrap;
    text-align: left;
    font-family: Sukhumvit Set;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    color: rgba(100,95,95,1);
}
#Rectangle_11_A7_Rectangle_12 {
    opacity: 1;
    fill: rgba(255,255,255,1);
    stroke: rgb(112, 112, 112);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_11_A7_Rectangle_12 {
    position: absolute;
    overflow: visible;
    width: 627px;
    height: 55px;
    left: 0px;
    top: 57px;
}
#iconfinder_map_285662 {
    opacity: 1;
    fill: url(#iconfinder_map_285662_A7_Rectangle_14_pattern);
}
.iconfinder_map_285662 {
    position: absolute;
    overflow: visible;
    width: 64px;
    height: 64px;
    left: 66%;
    top: 63%;
    z-index: 5;
}
#Group_23 {
    opacity: 1;
    position: absolute;
    width: 627px;
    height: 112px;
    left: 22%;
    top: 75%;
    overflow: visible;
}
#One_line_Description__100_char {
    opacity: 1;
    position: absolute;
    left: 0px;
    top: 0px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: visible;
    width: 594px;
    white-space: nowrap;
    text-align: left;
    font-family: Sukhumvit Set;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    color: rgba(100,95,95,1);
}
#Rectangle_11_A7_Rectangle_15 {
    opacity: 1;
    fill: rgba(255,255,255,1);
    stroke: rgb(112, 112, 112);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_11_A7_Rectangle_15 {
    position: absolute;
    overflow: visible;
    width: 627px;
    height: 55px;
    left: 0px;
    top: 57px;
}
#Group_24 {
    opacity: 1;
    position: absolute;
    width: 313.5px;
    height: 114px;
    left: 55%;
    top: 47%;
    overflow: visible;
}
#Images {
    opacity: 1;
    position: absolute;
    left: 0px;
    top: 0px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: visible;
    width: 113px;
    white-space: nowrap;
    text-align: left;
    font-family: Sukhumvit Set;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    color: rgba(100,95,95,1);
}
#Rectangle_11_A7_Rectangle_16 {
    opacity: 1;
    fill: rgba(255,255,255,1);
    stroke: rgb(112, 112, 112);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_11_A7_Rectangle_16 {
    position: absolute;
    overflow: visible;
    width: 313.5px;
    height: 55px;
    left: 0px;
    top: 40px;
}
#Choose_from_ {
    opacity: 1;
    position: absolute;
    left: 1px;
    top: 57px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: visible;
    width: 229px;
    white-space: nowrap;
    text-align: left;
    font-family: Sukhumvit Set;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    color: rgba(100,95,95,1);
}
#Group_25 {
    opacity: 1;
    position: absolute;
    width: 1051px;
    height: 468px;
    left: 22%;
    top: 90%;
    overflow: visible;
}
#Detailed_Description {
    opacity: 1;
    position: absolute;
    left: 0px;
    top: 0px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: visible;
    width: 323px;
    white-space: nowrap;
    text-align: left;
    font-family: Sukhumvit Set;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    color: rgba(100,95,95,1);
}
#Rectangle_11_A7_Rectangle_17 {
    opacity: 1;
    fill: rgba(255,255,255,1);
    stroke: rgb(112, 112, 112);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_11_A7_Rectangle_17 {
    position: absolute;
    overflow: visible;
    width: 1051px;
    height: 411px;
    left: 0px;
    top: 57px;
}
#Rectangle_12 {
    opacity: 1;
    fill: rgba(157,21,54,1);
    stroke: rgb(112, 112, 112);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_12 {
    position: absolute;
    overflow: visible;
    width: 287px;
    height: 70px;
    left: 1243px;
    top: 1400px;
}
#Submit {
    opacity: 1;
    position: absolute;
    left: 35%;
    top: 146%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: visible;
    width: 115px;
    white-space: nowrap;
    text-align: left;
    font-family: Sukhumvit Set;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    color: rgba(255,255,255,1);
    letter-spacing: 0.1px;
}
#Name {
    top: 10%;
    margin-top: 7%;
    line-height: 40px;
    color: black;
    font-size: 24px;
    width: 627px;
}

#date_start, #date_end {
    margin-top: 13%;
    line-height: 30px;
}

#time_start, #time_end {
    margin-top: 13%;
    line-height: 30px;
    width: 50%;
}

#lat {
    margin-top: 6%;
    line-height: 40px;
    width: 30%;
    font-size: 28px;
}

#lon {
	margin-top: 6%;
	margin-left: 5%;
    line-height: 40px;
    width: 30%;
    font-size: 28px;
}

#mapIcon {
    z-index: 20;
    width: 50px;
    height: 50px;
    float:right;
    cursor: pointer;
}

#mapicon {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 60%;
    top: 80%;
    z-index: 10;

}

#ShortDescription {
    margin-top: 7%;
    line-height: 40px;
    width: 627px;
    font-size: 28px;
}

#Description {
    margin-top: 5%;
    line-height: 40px;
    width: 627px;
    font-size: 28px;
}

#submitButton {
    position: absolute;
    z-index: 1;
    right: 25%;
    bottom: -32%;
    cursor: pointer;
}

a {
	text-decoration: none;
}
