body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background-color:#FAFAEF;
}
:root {
	--web-view-ids: Profile_Page;
}
#Profile_Page * {
	margin: 0;
	padding: 0;
}
#Profile_Page {
	position: absolute;
	box-sizing: border-box;
	background: #FAFAEF;
	width: 100%;
	height: 100%;
	background-color: #FAFAEF;
	overflow: scroll;
	margin: 0;
	padding: 0;
	opacity: 1;
	--web-view-name: New Event Page;
	--web-view-id: New_Event_Page;
	--web-scale-to-fit: true;
	--web-enable-deep-linking: true;
}
#Group_18 {
	opacity: 1;
	position: absolute;
	width: 100%;
	height: 88%;
	left: 0px;
	top: 125px;
	overflow: visible;
}

.Rectangle_4 {
	position: absolute;
	overflow: visible;
	width: 100%;
	height: 88%;
	left: 0px;
	top: 0px;
}
#Group_28 {
	opacity: 1;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 43px;
	overflow: visible;
}
#Rectangle_1 {
	opacity: 1;
	fill: rgba(157,21,54,1);
	stroke: rgb(112, 112, 112);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_1 {
	position: absolute;
	overflow: visible;
	width: 100%;
	height: 34%;
	left: 0px;
	top: 0px;
	background-color:rgba(157,21,54,1);
}
#USCCardinal {
	opacity: 1;
	position: absolute;
	width:25%;
	left: 13%;
	top: 3%;
	overflow: visible;
}

#UscLogo{
	width: 100%;
	height: 100%;
}

#EventSc {
	opacity: 1;
	position: absolute;
	left: 70%;
	top: 8%;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 25%;
	white-space: nowrap;
	text-align: left;
	font-family: Sukhumvit Set;
	font-style: normal;
	font-weight: bold;
	font-size: 64px;
	color: rgba(255,255,255,1);
}

.Rectangle_2 {
	position: absolute;
	overflow: visible;
	width: 100%;
	height: 7%;
	left: 0px;
	top: 0px;
	background-color: #000000;
}
#Login {
	opacity: 1;
	position: absolute;
	left: 78%;
	top: 8px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 88px;
	white-space: nowrap;
	text-align: left;
	font-family: AppleGothic;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	color: rgba(248,240,240,1);
	z-index: 4;
}
#Register {
	opacity: 1;
	position: absolute;
	left: 87%;
	top: 8px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 132px;
	white-space: nowrap;
	text-align: left;
	font-family: AppleGothic;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	color: rgba(248,240,240,1);
}

.Rectangle_7 {
	position: absolute;
	overflow: visible;
	width: 65%;
	height: 125%;
	left: 17%;
	top: 30%;
	background-color: rgba(244,244,244,1);
	border-radius: 20px;
}
#Group_13 {
	opacity: 1;
	position: absolute;
	width: 14%;
	height: 5%;
	left: 62%;
	top: 23%;
	overflow: visible;
}

#Backtomap{
	width: 100%;
	z-index: 20;
	display: block;
}

#Group_16 {
	opacity: 1;
	position: absolute;
	width: 65%;
	height: 60%;
	left: 17%;
	top: 33%;
	overflow: visible;
	background-color: rgba(244,244,244,1);
	border-color: rgb(112, 112, 112);
	border-radius: 20px;
}
#Group_31 {
	opacity: 1;
	position: absolute;
	width: 1266px;
	height: 682px;
	left: 0px;
	top: 0px;
	border-color: rgb(112, 112, 112);
	overflow: visible;
}
#Rectangle_7 {
	opacity: 1;
	fill: rgba(244,244,244,1);
	stroke: rgb(188, 174, 174);
	stroke-width: 1px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_7 {
	position: absolute;
	overflow: visible;
	width: 1266px;
	height: 682px;
	left: 0px;
	top: 0px;
}
#iconfinder_JD_04_2625523 {
	opacity: 1;
	fill: url(#iconfinder_JD_04_2625523_A4_Rectangle_14_pattern);
	stroke: rgb(157, 21, 54);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.iconfinder_JD_04_2625523 {
	position: absolute;
	overflow: visible;
	width: 221px;
	height: 221px;
	left: 62px;
	top: 35px;
}
#UserName {
	opacity: 1;
	position: absolute;
	left: 25%;
	top: 10%;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 276px;
	white-space: nowrap;
	text-align: left;
	font-family: Avenir;
	font-style: normal;
	font-weight: bold;
	font-size: 48px;
	color: rgba(100,95,95,1);
}
#profileInfo {
	opacity: 1;
	position: absolute;
	left: 25%;
	top: 5%;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 202px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 32px;
	color: rgba(100,95,95,1);
}
#Lorem_ipsum_dolor_sit_amet__co {
	opacity: 1;
	position: absolute;
	left: 322px;
	top: 266px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 648px;
	height: 115px;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	color: rgba(100,95,95,1);
}
#His_Events {
	opacity: 1;
	position: absolute;
	left: 62px;
	top: 381px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 158px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	color: rgba(100,95,95,1);
}
#Rectangle_8 {
	opacity: 1;
	fill: rgba(255,255,255,1);
	stroke: rgb(112, 112, 112);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_8 {
	position: absolute;
	overflow: visible;
	width: 571px;
	height: 65px;
	left: 62px;
	top: 438px;
}
#Rectangle_9 {
	opacity: 1;
	fill: rgba(255,255,255,1);
	stroke: rgb(112, 112, 112);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_9 {
	position: absolute;
	overflow: visible;
	width: 571px;
	height: 65px;
	left: 62px;
	top: 522px;
}

a {
	text-decoration: none;
}

#profileSaveChanges {
	position: absolute;
	left: 25%;
	top: 84%;
	width: 20%;
	height: 10%;
	cursor: pointer;
}
#user {
	position: absolute;
	overflow: visible;
	width: 150px;
	height: 150px;
	left: 5%;
	top: 10%;
}

#userpic {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

a {
	text-decoration: none;
}

#firstInfo, #lastInfo, #emailInfo, #phoneInfo, #majorInfo, #gradyearInfo {
	margin-top: 5%;
}

.formInput {
	border: 0.5px solid #707070;
	color: rgba(100,95,95,1);
	font-size: 20px;
	line-height: 28px;
}

#formEmail {
	width: 180%;
}

#formPhone {
	width: 80%;
}

#formMajor {
	width: 178%;
}

#formGradYear {
	width: 35%;
}

#ImageUpload {
	position: absolute;
	z-index: 10;
	top: 71%;
	left: 25%;
}


::placeholder { 
  color: #c3c3c3;
}
