body, html {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}
:root {
	--web-view-ids: List_View;
}
#List_View * {
	margin: 0;
	padding: 0;
}
#List_View {
	position: absolute;
	box-sizing: border-box;
	background: #E5E5E5;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	margin: 0;
	padding: 0;
	opacity: 1;
	--web-view-name: List View;
	--web-view-id: List_View;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#Group_18 {
	opacity: 1;
	position: absolute;
	width: 100%;
	height: 88%;
	left: 0px;
	top: 125px;
	overflow: visible;
}
#Rectangle_4 {
	opacity: 1;
	fill: rgba(250,250,240,1);
	stroke: rgb(112, 112, 112);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_4 {
	position: absolute;
	overflow: visible;
	width: 100%;
	height: 88%;
	left: 0px;
	top: 0px;
}
#Group_28 {
	opacity: 1;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 43px;
	overflow: visible;
}
#Rectangle_1 {
	opacity: 1;
	fill: rgba(157,21,54,1);
	stroke: rgb(112, 112, 112);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_1 {
	position: absolute;
	overflow: visible;
	width: 100%;
	height: 34%;
	left: 0px;
	top: 0px;
	background-color:rgba(157,21,54,1);
}
#USCCardinal {
	opacity: 1;
	position: absolute;
	width: 25%;
	left: 13%;
	top: 3%;
	overflow: visible;
}

#UscLogo{
	width: 100%;
	height: 100%;
}

#EventSc {
	opacity: 1;
	position: absolute;
	left: 70%;
	top: 8%;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 25%;
	white-space: nowrap;
	text-align: left;
	font-family: Sukhumvit Set;
	font-style: normal;
	font-weight: bold;
	font-size: 64px;
	color: rgba(255,255,255,1);
}
#Rectangle_2 {
	opacity: 1;
	fill: rgba(2,2,2,1);
	stroke: rgb(112, 112, 112);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_2 {
	position: absolute;
	overflow: visible;
	width: 100%;
	height: 7%;
	left: 0px;
	top: 0px;
	background-color: #000000;
}
#Login {
	opacity: 1;
	position: absolute;
	left: 78%;
	top: 8px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 88px;
	white-space: nowrap;
	text-align: left;
	font-family: AppleGothic;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	color: rgba(248,240,240,1);
}
#Group_7 {
	opacity: 1;
	position: absolute;
	width: 11%;
	height: 5%;
	left: 66%;
	top: 25%;
	overflow: visible;
}

#NewEvent{
	width: 100%;
	z-index: 20;
	display: block;
}

#New_Event {
	opacity: 1;
	position: absolute;
	left: 69.005px;
	top: 14.191px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 151px;
	white-space: nowrap;
	text-align: left;
	font-family: AppleGothic;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(5,5,5,1);
}
#Group_9 {
	opacity: 1;
	position: absolute;
	width: 11%;
	height: 5%;
	left: 20%;
	top: 25%;
	overflow: visible;
}
#Filter{
	width: 100%;
	z-index: 30;
	display: block;
}

#Register {
	opacity: 1;
	position: absolute;
	left: 87%;
	top: 8px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 132px;
	white-space: nowrap;
	text-align: left;
	font-family: AppleGothic;
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	color: rgba(248,240,240,1);
}
#Group_12 {
	opacity: 1;
	position: absolute;
	width: 11%;
	height: 5%;
	left: 35%;
	top: 25%;
	overflow: visible;
}

#Map{
	width: 100%;
	z-index: 30;
	display: block;
}


#list {
	position: absolute;
	left: 23%;
	top: 39%;	
	z-index: 2;
	width: 800px;
}

.row{
	height: 60px;
	width: 800px;
}

td{
	height: 174px;
}

td img{
	float: left;
	padding-top: 5px;
	padding-left: 20px;
	height: 90px;
}

.icon{
	background-color: rgba(244,244,244,1);
	border: 1px solid;
	border-radius: 20px;
	border-color: rgb(112, 112, 112);
	border-width: thin;
	height: 120px;
	margin-left: 5%;
	border-bottom: 1px solid rgb(112, 112, 112);
	border-top: 1px solid rgb(112, 112, 112);
	border-radius: 20px;
	width: 800px;
}

.EventName {
	position: relative;
	text-align: left;
	font-family: AppleGothic;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(100,95,95,1);
	top: 5px;
	padding-left: 30px;
	
	
}

.info{
	position: relative;
	text-align: left;
	font-family: AppleGothic;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(100,95,95,1);
	top: 5px;
	padding-left: 30px;
}



tbody {
	display: block;
	overflow: scroll;
	height: 400px;
	width: 800px;
}
