body {
	margin: 0;
	padding: 0;
}
:root {
	--web-view-ids: New_Event_Page;
}
#New_Event_Page * {
	margin: 0;
	padding: 0;
}
#New_Event_Page {
	position: absolute;
	box-sizing: border-box;
	background: #E5E5E5;
	width: 1920px;
	height: 1576px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	margin: 0;
	padding: 0;
	opacity: 1;
	--web-view-name: New Event Page;
	--web-view-id: New_Event_Page;
	--web-scale-to-fit: true;
	--web-enable-deep-linking: true;
}
#Path_2 {
	opacity: 1;
	fill: rgba(250,250,240,1);
	stroke: rgb(112, 112, 112);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_2 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: -1px;
	left: 0px;
	width: 1920px;
	height: 1576.505px;
}
#Group_4 {
	opacity: 1;
	position: absolute;
	width: 1920px;
	height: 413px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_3 {
	opacity: 1;
	position: absolute;
	width: 1920px;
	height: 413px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_1 {
	opacity: 1;
	fill: rgba(157,21,54,1);
	stroke: rgb(112, 112, 112);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_1 {
	position: absolute;
	overflow: visible;
	width: 1921px;
	height: 414px;
	left: 0px;
	top: 0px;
}
#Group_2 {
	opacity: 1;
	position: absolute;
	width: 582px;
	height: 145px;
	left: 266px;
	top: 83px;
	overflow: visible;
}
#Group_1 {
	opacity: 1;
	position: absolute;
	width: 582px;
	height: 145px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#USCCardinal {
	opacity: 1;
	position: absolute;
	width: 582px;
	height: 145px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#USCCardinal_A7_Rectangle_2 {
	opacity: 1;
	fill: url(#USCCardinal_A7_Rectangle_3_pattern);
}
.USCCardinal_A7_Rectangle_2 {
	position: absolute;
	overflow: visible;
	width: 582px;
	height: 145px;
	left: 0px;
	top: 0px;
}
#EventSc {
	opacity: 1;
	position: absolute;
	left: 1362px;
	top: 94px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 273px;
	white-space: nowrap;
	text-align: left;
	font-family: Sukhumvit Set;
	font-style: normal;
	font-weight: bold;
	font-size: 78px;
	color: rgba(255,255,255,1);
}
#Rectangle_2 {
	opacity: 1;
	fill: rgba(2,2,2,1);
	stroke: rgb(112, 112, 112);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_2 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 60px;
	left: 0px;
	top: 0px;
}
#Login {
	opacity: 1;
	position: absolute;
	left: 1511px;
	top: 8px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 88px;
	white-space: nowrap;
	text-align: left;
	font-family: AppleGothic;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(248,240,240,1);
}
#v {
	opacity: 1;
	position: absolute;
	left: 1501px;
	top: 557px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 21px;
	white-space: nowrap;
	text-align: left;
	font-family: AppleGothic;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(248,240,240,1);
}
#Path_1 {
	opacity: 1;
	fill: url(#Path_1_A7_Path_3_pattern);
	stroke: rgb(255, 255, 255);
	stroke-width: 20px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_1 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 1025px;
	left: 332px;
	width: 1266px;
	height: 0px;
}
#Register {
	opacity: 1;
	position: absolute;
	left: 1681px;
	top: 8px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 132px;
	white-space: nowrap;
	text-align: left;
	font-family: AppleGothic;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(248,240,240,1);
}
#Rectangle_7 {
	opacity: 1;
	fill: rgba(244,244,244,1);
	stroke: rgb(188, 174, 174);
	stroke-width: 1px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_7 {
	position: absolute;
	overflow: visible;
	width: 1266px;
	height: 1179px;
	left: 333px;
	top: 329px;
}
#Group_13 {
	opacity: 1;
	position: absolute;
	width: 277.005px;
	height: 56.191px;
	left: 1233.797px;
	top: 231.824px;
	overflow: visible;
}
#Rectangle_5 {
	opacity: 1;
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.553));
	fill: rgba(250,250,240,1);
	stroke: rgb(214, 214, 172);
	stroke-width: 4px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_5 {
	position: absolute;
	overflow: visible;
	width: 303.005px;
	height: 82.191px;
	left: 0px;
	top: 0px;
}
#Back_to_map {
	opacity: 1;
	position: absolute;
	left: 83.004px;
	top: 12.191px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 176px;
	white-space: nowrap;
	text-align: left;
	font-family: AppleGothic;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(5,5,5,1);
}
#iconfinder_map_2561464 {
	opacity: 1;
	fill: url(#iconfinder_map_2561464_A7_Rectangle_8_pattern);
}
.iconfinder_map_2561464 {
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 41px;
	left: 15.203px;
	top: 8.176px;
}
#Group_19 {
	opacity: 1;
	position: absolute;
	width: 627px;
	height: 112px;
	left: 435px;
	top: 356px;
	overflow: visible;
}
#Event_Name_A7_Text_7 {
	opacity: 1;
	position: absolute;
	left: 0px;
	top: 0px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 189px;
	white-space: nowrap;
	text-align: left;
	font-family: Sukhumvit Set;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	color: rgba(100,95,95,1);
}
#Rectangle_11 {
	opacity: 1;
	fill: rgba(255,255,255,1);
	stroke: rgb(112, 112, 112);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_11 {
	position: absolute;
	overflow: visible;
	width: 627px;
	height: 55px;
	left: 0px;
	top: 57px;
}
#Event_Name_A7_Text_7 {
	opacity: 1;
	position: absolute;
	left: 0px;
	top: 0px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 189px;
	white-space: nowrap;
	text-align: left;
	font-family: Sukhumvit Set;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	color: rgba(100,95,95,1);
}
#Group_20 {
	opacity: 1;
	position: absolute;
	width: 313.5px;
	height: 112px;
	left: 435px;
	top: 484px;
	overflow: visible;
}
#Date {
	opacity: 1;
	position: absolute;
	left: 0px;
	top: 0px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 75px;
	white-space: nowrap;
	text-align: left;
	font-family: Sukhumvit Set;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	color: rgba(100,95,95,1);
}
#Rectangle_11_A7_Rectangle_10 {
	opacity: 1;
	fill: rgba(255,255,255,1);
	stroke: rgb(112, 112, 112);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_11_A7_Rectangle_10 {
	position: absolute;
	overflow: visible;
	width: 313.5px;
	height: 55px;
	left: 0px;
	top: 57px;
}
#Group_21 {
	opacity: 1;
	position: absolute;
	width: 313.5px;
	height: 112px;
	left: 782px;
	top: 484px;
	overflow: visible;
}
#Time {
	opacity: 1;
	position: absolute;
	left: 0px;
	top: 0px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 77px;
	white-space: nowrap;
	text-align: left;
	font-family: Sukhumvit Set;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	color: rgba(100,95,95,1);
}
#Rectangle_11_A7_Rectangle_11 {
	opacity: 1;
	fill: rgba(255,255,255,1);
	stroke: rgb(112, 112, 112);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_11_A7_Rectangle_11 {
	position: absolute;
	overflow: visible;
	width: 313.5px;
	height: 55px;
	left: 0px;
	top: 57px;
}
#Group_22 {
	opacity: 1;
	position: absolute;
	width: 627px;
	height: 112px;
	left: 435px;
	top: 612px;
	overflow: visible;
}
#Location {
	opacity: 1;
	position: absolute;
	left: 0px;
	top: 0px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 138px;
	white-space: nowrap;
	text-align: left;
	font-family: Sukhumvit Set;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	color: rgba(100,95,95,1);
}
#Rectangle_11_A7_Rectangle_12 {
	opacity: 1;
	fill: rgba(255,255,255,1);
	stroke: rgb(112, 112, 112);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_11_A7_Rectangle_12 {
	position: absolute;
	overflow: visible;
	width: 627px;
	height: 55px;
	left: 0px;
	top: 57px;
}
#iconfinder_map_285662 {
	opacity: 1;
	fill: url(#iconfinder_map_285662_A7_Rectangle_14_pattern);
}
.iconfinder_map_285662 {
	position: absolute;
	overflow: visible;
	width: 64px;
	height: 64px;
	left: 1078px;
	top: 660px;
}
#Group_23 {
	opacity: 1;
	position: absolute;
	width: 627px;
	height: 112px;
	left: 435px;
	top: 740px;
	overflow: visible;
}
#One_line_Description__100_char {
	opacity: 1;
	position: absolute;
	left: 0px;
	top: 0px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 594px;
	white-space: nowrap;
	text-align: left;
	font-family: Sukhumvit Set;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	color: rgba(100,95,95,1);
}
#Rectangle_11_A7_Rectangle_15 {
	opacity: 1;
	fill: rgba(255,255,255,1);
	stroke: rgb(112, 112, 112);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_11_A7_Rectangle_15 {
	position: absolute;
	overflow: visible;
	width: 627px;
	height: 55px;
	left: 0px;
	top: 57px;
}
#Group_24 {
	opacity: 1;
	position: absolute;
	width: 313.5px;
	height: 114px;
	left: 1216px;
	top: 483px;
	overflow: visible;
}
#Images {
	opacity: 1;
	position: absolute;
	left: 0px;
	top: 0px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 113px;
	white-space: nowrap;
	text-align: left;
	font-family: Sukhumvit Set;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	color: rgba(100,95,95,1);
}
#Rectangle_11_A7_Rectangle_16 {
	opacity: 1;
	fill: rgba(255,255,255,1);
	stroke: rgb(112, 112, 112);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_11_A7_Rectangle_16 {
	position: absolute;
	overflow: visible;
	width: 313.5px;
	height: 55px;
	left: 0px;
	top: 57px;
}
#Choose_from_ {
	opacity: 1;
	position: absolute;
	left: 1px;
	top: 57px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 229px;
	white-space: nowrap;
	text-align: left;
	font-family: Sukhumvit Set;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	color: rgba(100,95,95,1);
}
#Group_25 {
	opacity: 1;
	position: absolute;
	width: 1051px;
	height: 468px;
	left: 435px;
	top: 868px;
	overflow: visible;
}
#Detailed_Description {
	opacity: 1;
	position: absolute;
	left: 0px;
	top: 0px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 323px;
	white-space: nowrap;
	text-align: left;
	font-family: Sukhumvit Set;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	color: rgba(100,95,95,1);
}
#Rectangle_11_A7_Rectangle_17 {
	opacity: 1;
	fill: rgba(255,255,255,1);
	stroke: rgb(112, 112, 112);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_11_A7_Rectangle_17 {
	position: absolute;
	overflow: visible;
	width: 1051px;
	height: 411px;
	left: 0px;
	top: 57px;
}
#Rectangle_12 {
	opacity: 1;
	fill: rgba(157,21,54,1);
	stroke: rgb(112, 112, 112);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_12 {
	position: absolute;
	overflow: visible;
	width: 287px;
	height: 70px;
	left: 1243px;
	top: 1400px;
}
#Submit {
	opacity: 1;
	position: absolute;
	left: 1330px;
	top: 1407px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 115px;
	white-space: nowrap;
	text-align: left;
	font-family: Sukhumvit Set;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.1px;
}