body {
	margin: 0;
	padding: 0;
}
:root {
	--web-view-ids: List_View;
}
#List_View * {
	margin: 0;
	padding: 0;
}
#List_View {
	position: absolute;
	box-sizing: border-box;
	background: #E5E5E5;
	width: 1920px;
	height: 1813px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	margin: 0;
	padding: 0;
	opacity: 1;
	--web-view-name: List View;
	--web-view-id: List_View;
	--web-scale-to-fit: true;
	--web-enable-deep-linking: true;
}
#Group_18 {
	opacity: 1;
	position: absolute;
	width: 1920px;
	height: 1688px;
	left: 0px;
	top: 125px;
	overflow: visible;
}
#Rectangle_4 {
	opacity: 1;
	fill: rgba(250,250,240,1);
	stroke: rgb(112, 112, 112);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_4 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 1688px;
	left: 0px;
	top: 0px;
}
#Repeat_Grid_1 {
	opacity: 1;
	position: absolute;
	width: 1097px;
	height: 1354px;
	left: 404px;
	top: 442px;
	overflow: hidden;
}
#Group_17 {
	opacity: 1;
	position: absolute;
	width: 1097px;
	height: 174px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_10 {
	opacity: 1;
	fill: rgba(244,244,244,1);
	stroke: rgb(112, 112, 112);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_10 {
	position: absolute;
	overflow: visible;
	width: 1097px;
	height: 174px;
	left: 0px;
	top: 0px;
}
#iconfinder_Bag_Present_379544 {
	opacity: 1;
	fill: url(#iconfinder_Bag_Present_379544_A2_Rectangle_4_pattern);
}
.iconfinder_Bag_Present_379544 {
	position: absolute;
	overflow: visible;
	width: 155px;
	height: 155px;
	left: 37px;
	top: 10px;
}
#Event_Name {
	opacity: 1;
	position: absolute;
	left: 244px;
	top: 10px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 203px;
	white-space: nowrap;
	text-align: left;
	font-family: AppleGothic;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(100,95,95,1);
}
#Date__Time__Description_ {
	opacity: 1;
	position: absolute;
	left: 244px;
	top: 64px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 132px;
	white-space: nowrap;
	text-align: left;
	font-family: AppleGothic;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(100,95,95,1);
}
#Group_17_A2_Group_3 {
	opacity: 1;
	position: absolute;
	width: 1097px;
	height: 174px;
	left: 0px;
	top: 194px;
	overflow: visible;
}
#Rectangle_10_A2_Rectangle_5 {
	opacity: 1;
	fill: rgba(244,244,244,1);
	stroke: rgb(112, 112, 112);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_10_A2_Rectangle_5 {
	position: absolute;
	overflow: visible;
	width: 1097px;
	height: 174px;
	left: 0px;
	top: 0px;
}
#iconfinder_calendar_1287530 {
	opacity: 1;
	fill: url(#iconfinder_calendar_1287530_A2_Rectangle_7_pattern);
}
.iconfinder_calendar_1287530 {
	position: absolute;
	overflow: visible;
	width: 155px;
	height: 155px;
	left: 37px;
	top: 10px;
}
#Event_Name_A2_Text_3 {
	opacity: 1;
	position: absolute;
	left: 244px;
	top: 10px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 203px;
	white-space: nowrap;
	text-align: left;
	font-family: AppleGothic;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(100,95,95,1);
}
#Date__Time__Description__A2_Text_4 {
	opacity: 1;
	position: absolute;
	left: 244px;
	top: 64px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 132px;
	white-space: nowrap;
	text-align: left;
	font-family: AppleGothic;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(100,95,95,1);
}
#Group_17_A2_Group_4 {
	opacity: 1;
	position: absolute;
	width: 1097px;
	height: 174px;
	left: 0px;
	top: 388px;
	overflow: visible;
}
#Rectangle_10_A2_Rectangle_8 {
	opacity: 1;
	fill: rgba(244,244,244,1);
	stroke: rgb(112, 112, 112);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_10_A2_Rectangle_8 {
	position: absolute;
	overflow: visible;
	width: 1097px;
	height: 174px;
	left: 0px;
	top: 0px;
}
#iconfinder_calendar_1287530_A2_Rectangle_9 {
	opacity: 1;
	fill: url(#iconfinder_calendar_1287530_A2_Rectangle_10_pattern);
}
.iconfinder_calendar_1287530_A2_Rectangle_9 {
	position: absolute;
	overflow: visible;
	width: 155px;
	height: 155px;
	left: 37px;
	top: 10px;
}
#Event_Name_A2_Text_5 {
	opacity: 1;
	position: absolute;
	left: 244px;
	top: 10px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 203px;
	white-space: nowrap;
	text-align: left;
	font-family: AppleGothic;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(100,95,95,1);
}
#Date__Time__Description__A2_Text_6 {
	opacity: 1;
	position: absolute;
	left: 244px;
	top: 64px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 132px;
	white-space: nowrap;
	text-align: left;
	font-family: AppleGothic;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(100,95,95,1);
}
#Group_17_A2_Group_5 {
	opacity: 1;
	position: absolute;
	width: 1097px;
	height: 174px;
	left: 0px;
	top: 582px;
	overflow: visible;
}
#Rectangle_10_A2_Rectangle_11 {
	opacity: 1;
	fill: rgba(244,244,244,1);
	stroke: rgb(112, 112, 112);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_10_A2_Rectangle_11 {
	position: absolute;
	overflow: visible;
	width: 1097px;
	height: 174px;
	left: 0px;
	top: 0px;
}
#iconfinder_calendar_1287530_A2_Rectangle_12 {
	opacity: 1;
	fill: url(#iconfinder_calendar_1287530_A2_Rectangle_13_pattern);
}
.iconfinder_calendar_1287530_A2_Rectangle_12 {
	position: absolute;
	overflow: visible;
	width: 155px;
	height: 155px;
	left: 37px;
	top: 10px;
}
#Event_Name_A2_Text_7 {
	opacity: 1;
	position: absolute;
	left: 244px;
	top: 10px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 203px;
	white-space: nowrap;
	text-align: left;
	font-family: AppleGothic;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(100,95,95,1);
}
#Date__Time__Description__A2_Text_8 {
	opacity: 1;
	position: absolute;
	left: 244px;
	top: 64px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 132px;
	white-space: nowrap;
	text-align: left;
	font-family: AppleGothic;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(100,95,95,1);
}
#Group_17_A2_Group_6 {
	opacity: 1;
	position: absolute;
	width: 1097px;
	height: 174px;
	left: 0px;
	top: 776px;
	overflow: visible;
}
#Rectangle_10_A2_Rectangle_14 {
	opacity: 1;
	fill: rgba(244,244,244,1);
	stroke: rgb(112, 112, 112);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_10_A2_Rectangle_14 {
	position: absolute;
	overflow: visible;
	width: 1097px;
	height: 174px;
	left: 0px;
	top: 0px;
}
#iconfinder_calendar_1287530_A2_Rectangle_15 {
	opacity: 1;
	fill: url(#iconfinder_calendar_1287530_A2_Rectangle_16_pattern);
}
.iconfinder_calendar_1287530_A2_Rectangle_15 {
	position: absolute;
	overflow: visible;
	width: 155px;
	height: 155px;
	left: 37px;
	top: 10px;
}
#Event_Name_A2_Text_9 {
	opacity: 1;
	position: absolute;
	left: 244px;
	top: 10px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 203px;
	white-space: nowrap;
	text-align: left;
	font-family: AppleGothic;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(100,95,95,1);
}
#Date__Time__Description__A2_Text_10 {
	opacity: 1;
	position: absolute;
	left: 244px;
	top: 64px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 132px;
	white-space: nowrap;
	text-align: left;
	font-family: AppleGothic;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(100,95,95,1);
}
#Group_17_A2_Group_7 {
	opacity: 1;
	position: absolute;
	width: 1097px;
	height: 174px;
	left: 0px;
	top: 970px;
	overflow: visible;
}
#Rectangle_10_A2_Rectangle_17 {
	opacity: 1;
	fill: rgba(244,244,244,1);
	stroke: rgb(112, 112, 112);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_10_A2_Rectangle_17 {
	position: absolute;
	overflow: visible;
	width: 1097px;
	height: 174px;
	left: 0px;
	top: 0px;
}
#iconfinder_calendar_1287530_A2_Rectangle_18 {
	opacity: 1;
	fill: url(#iconfinder_calendar_1287530_A2_Rectangle_19_pattern);
}
.iconfinder_calendar_1287530_A2_Rectangle_18 {
	position: absolute;
	overflow: visible;
	width: 155px;
	height: 155px;
	left: 37px;
	top: 10px;
}
#Event_Name_A2_Text_11 {
	opacity: 1;
	position: absolute;
	left: 244px;
	top: 10px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 203px;
	white-space: nowrap;
	text-align: left;
	font-family: AppleGothic;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(100,95,95,1);
}
#Date__Time__Description__A2_Text_12 {
	opacity: 1;
	position: absolute;
	left: 244px;
	top: 64px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 132px;
	white-space: nowrap;
	text-align: left;
	font-family: AppleGothic;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(100,95,95,1);
}
#Group_17_A2_Group_8 {
	opacity: 1;
	position: absolute;
	width: 1097px;
	height: 174px;
	left: 0px;
	top: 1164px;
	overflow: visible;
}
#Rectangle_10_A2_Rectangle_20 {
	opacity: 1;
	fill: rgba(244,244,244,1);
	stroke: rgb(112, 112, 112);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_10_A2_Rectangle_20 {
	position: absolute;
	overflow: visible;
	width: 1097px;
	height: 174px;
	left: 0px;
	top: 0px;
}
#iconfinder_calendar_1287530_A2_Rectangle_21 {
	opacity: 1;
	fill: url(#iconfinder_calendar_1287530_A2_Rectangle_22_pattern);
}
.iconfinder_calendar_1287530_A2_Rectangle_21 {
	position: absolute;
	overflow: visible;
	width: 155px;
	height: 155px;
	left: 37px;
	top: 10px;
}
#Event_Name_A2_Text_13 {
	opacity: 1;
	position: absolute;
	left: 244px;
	top: 10px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 203px;
	white-space: nowrap;
	text-align: left;
	font-family: AppleGothic;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(100,95,95,1);
}
#Date__Time__Description__A2_Text_14 {
	opacity: 1;
	position: absolute;
	left: 244px;
	top: 64px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 132px;
	white-space: nowrap;
	text-align: left;
	font-family: AppleGothic;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	color: rgba(100,95,95,1);
}
#Group_3 {
	opacity: 1;
	position: absolute;
	width: 0px;
	height: 0px;
	left: 1990px;
	top: 0px;
	overflow: visible;
}
#Group_2 {
	opacity: 1;
	position: absolute;
	width: 0px;
	height: 0px;
	left: 1990px;
	top: 0px;
	overflow: visible;
}
#Group_1 {
	opacity: 1;
	position: absolute;
	width: 0px;
	height: 0px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Group_28 {
	opacity: 1;
	position: absolute;
	width: 1920px;
	height: 370px;
	left: 0px;
	top: 43px;
	overflow: visible;
}
#Rectangle_1 {
	opacity: 1;
	fill: rgba(157,21,54,1);
	stroke: rgb(112, 112, 112);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_1 {
	position: absolute;
	overflow: visible;
	width: 1921px;
	height: 371px;
	left: 0px;
	top: 0px;
}
#USCCardinal {
	opacity: 1;
	position: absolute;
	width: 582px;
	height: 145px;
	left: 266px;
	top: 40px;
	overflow: visible;
}
#USCCardinal_A2_Rectangle_24 {
	opacity: 1;
	fill: url(#USCCardinal_A2_Rectangle_25_pattern);
}
.USCCardinal_A2_Rectangle_24 {
	position: absolute;
	overflow: visible;
	width: 582px;
	height: 145px;
	left: 0px;
	top: 0px;
}
#EventSc {
	opacity: 1;
	position: absolute;
	left: 1362px;
	top: 94px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 273px;
	white-space: nowrap;
	text-align: left;
	font-family: Sukhumvit Set;
	font-style: normal;
	font-weight: bold;
	font-size: 78px;
	color: rgba(255,255,255,1);
}
#Rectangle_2 {
	opacity: 1;
	fill: rgba(2,2,2,1);
	stroke: rgb(112, 112, 112);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_2 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 60px;
	left: 0px;
	top: 0px;
}
#Login {
	opacity: 1;
	position: absolute;
	left: 1511px;
	top: 8px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 88px;
	white-space: nowrap;
	text-align: left;
	font-family: AppleGothic;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(248,240,240,1);
}
#Path_1 {
	opacity: 1;
	fill: url(#Path_1_A2_Path_2_pattern);
	stroke: rgb(255, 255, 255);
	stroke-width: 20px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_1 {
	transform: matrix(1,0,0,1,0,0);
	overflow: visible;
	position: absolute;
	top: 1025px;
	left: 332px;
	width: 1266px;
	height: 0px;
}
#Group_7 {
	opacity: 1;
	position: absolute;
	width: 230.005px;
	height: 57px;
	left: 1280.797px;
	top: 245.824px;
	overflow: visible;
}
#Group_6 {
	opacity: 1;
	position: absolute;
	width: 230.005px;
	height: 57px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rectangle_5 {
	opacity: 1;
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.553));
	fill: rgba(250,250,240,1);
	stroke: rgb(214, 214, 172);
	stroke-width: 4px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_5 {
	position: absolute;
	overflow: visible;
	width: 256.005px;
	height: 82.191px;
	left: 0px;
	top: 0px;
}
#iconfinder_plus_circle_2561291 {
	opacity: 1;
	fill: url(#iconfinder_plus_circle_2561291_A2_Rectangle_29_pattern);
}
.iconfinder_plus_circle_2561291 {
	position: absolute;
	overflow: visible;
	width: 48px;
	height: 48px;
	left: 13px;
	top: 9px;
}
#New_Event {
	opacity: 1;
	position: absolute;
	left: 69.005px;
	top: 14.191px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 151px;
	white-space: nowrap;
	text-align: left;
	font-family: AppleGothic;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(5,5,5,1);
}
#Group_9 {
	opacity: 1;
	position: absolute;
	width: 230.005px;
	height: 56.191px;
	left: 403.797px;
	top: 245.824px;
	overflow: visible;
}
#Rectangle_5_A2_Rectangle_30 {
	opacity: 1;
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.553));
	fill: rgba(250,250,240,1);
	stroke: rgb(214, 214, 172);
	stroke-width: 4px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_5_A2_Rectangle_30 {
	position: absolute;
	overflow: visible;
	width: 256.005px;
	height: 82.191px;
	left: 0px;
	top: 0px;
}
#__Filter {
	opacity: 1;
	position: absolute;
	left: 71.005px;
	top: 13.191px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 85px;
	white-space: nowrap;
	text-align: left;
	font-family: AppleGothic;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(5,5,5,1);
}
#iconfinder_filter_3325128 {
	opacity: 1;
	fill: url(#iconfinder_filter_3325128_A2_Rectangle_32_pattern);
}
.iconfinder_filter_3325128 {
	position: absolute;
	overflow: visible;
	width: 54px;
	height: 54px;
	left: 12.203px;
	top: 2.176px;
}
#Register {
	opacity: 1;
	position: absolute;
	left: 1681px;
	top: 8px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 132px;
	white-space: nowrap;
	text-align: left;
	font-family: AppleGothic;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	color: rgba(248,240,240,1);
}
#Group_12 {
	opacity: 1;
	position: absolute;
	width: 230.005px;
	height: 56.191px;
	left: 680.797px;
	top: 245.824px;
	overflow: visible;
}
#Rectangle_5_A2_Rectangle_33 {
	opacity: 1;
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.553));
	fill: rgba(250,250,240,1);
	stroke: rgb(214, 214, 172);
	stroke-width: 4px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_5_A2_Rectangle_33 {
	position: absolute;
	overflow: visible;
	width: 256.005px;
	height: 82.191px;
	left: 0px;
	top: 0px;
}
#Map_view {
	opacity: 1;
	position: absolute;
	left: 83.005px;
	top: 12.191px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow: visible;
	width: 134px;
	white-space: nowrap;
	text-align: left;
	font-family: AppleGothic;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(5,5,5,1);
}
#iconfinder_map_2561464 {
	opacity: 1;
	fill: url(#iconfinder_map_2561464_A2_Rectangle_35_pattern);
}
.iconfinder_map_2561464 {
	position: absolute;
	overflow: visible;
	width: 41px;
	height: 41px;
	left: 15.203px;
	top: 8.176px;
}